<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</head>
<body>

<!-- 登录表单 -->
<form style="margin-left:500px;margin-top:200px;" id="loginForm">
    <div class="form-group">
        <label for="user" stype="display:inline;" >账户：</label>
        <input type="text" class="form-control" name="adminName" id="user" style="display:inline;width:200px;"autocomplete="off" />
    </div>
    <div class="form-group">
        <label for="password" style="display:inline;">密码：</label>
        <input type="text" class="form-control" name="adminName" id="password" style="display:inline;width:200px;"autocomplete="off" />
    </div>
    <button type="button" class="btn btn-primary" id="button_submit">登录</button>
    <div id="result"></div>

</form>
</body>
<script>
    // function login() {
    //     $.ajax({
    //         url:"/",
    //         success:function (data) {
    //
    //         }
    //     })
    // }

    $("#button_submit").click(function(){
        //序列化表单元素，返回json数据
        var params = $("#loginForm").serializeArray();

        //也可以把表单之外的元素按照name value的格式存进来
        //params.push({name:"hello",value:"man"});

        $.ajax({
            type:"POST",
            url:"/adminLogin",
            data:{
                adminName:$("#user").val(),
                adminPass:$("#password").val()
            },
            success:function(data){
                if(data["code"]=="200"){
                    var username = data["name"];
                    var level = data["level"];
                    $("#result").html("");
                alert("欢迎"+username);
                    if (level==0){

                        window.location.href='trainPage?username='+username;

                    }else {

                        window.location.href='signUp?username='+username;

                    }
                }
                if (data["code"]=="400"){
                    $("#result").html("用户名或密码错误").css("color","red");
                }
            }

        });
    });

</script>

</html>