<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>培训管理&培训检索</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!--<link rel="stylesheet" href="../static/css/bootstrap-theme.css">-->
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css">
    <script src="../static/js/bootstrap-table.min.js"></script>
    <style>
        a{
            padding: 5px;
            font-size: 20px;
        }
        .btn{font-size: 15px;
        }
        .active{
            border: red;
        }
    </style>
</head>

<body>
<ul class="nav nav-tabs">
    <li role="presentation"><span><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><a href="#" onclick="showDiv1()">培训管理</a></span></li>
    <li role="presentation"><span><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><a href="#" onclick="showDiv2()">培训明细</a></span></li>
    <li role="presentation"><span><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span><a href="#" onclick="showDiv3()">培训人员明细</a></span></li>
    <li role="presentation"><span><span class="glyphicon glyphicon-edit" aria-hidden="true"></span><a href="#" onclick="showDiv4()">课程内容更新</a></span></li>
    <li role="presentation"><span><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#" onclick="showDiv5()">培训人员追加</a></span></li>
    <li role="presentation"><span><span class="glyphicon glyphicon-search" aria-hidden="true"></span><a href="#" onclick="showDiv6()">报名检索</a></span></li>
</ul>
<!--div1-->
<div>
<div id="div1">
    <h3>培训管理/培训检索</h3>
    <div>
        <label style="display:inline;">培训状态：</label>
        <select class="combobox" style="width: 100px">
            <option value="0">未发布</option>
            <option value="1">报名中</option>
            <option value="2">确定</option>
            <option value="3">完了</option>
        </select>
    </div>
    <div>
        <label style="display:inline;">培训实施日：</label>
        <input type="text" class="form-control" id="trainDate" style="display:inline;width:200px;" autocomplete="off"/>
    </div>
    <br>
    <!--<label style="display:inline;">授课类型：</label>-->
    <!--<select name="ChanneltypeID" class="layui-select">-->
        <!--<option th:each="trainInfo : ${trainInfoList}" th:value="${trainInfo.trainId}" th:text="${trainInfo.trainTypeName}">-->
    <!--</select></br>-->
    <div>
    <label  style="display:inline;">授课类型：</label>
        <select class="selectpicker" data-live-search="true" name="addid" id="addid" style="width: 100px"></select>
    </div>

    <button id="search" class="btn btn-primary glyphicon glyphicon-search">检索</button>
    <button id="add" class="btn btn-success glyphicon glyphicon-edit">追加</button>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-hover table-bordered trainInfo" th:fragment="trainInfo">

                <thead>
                <tr>
                    <th>培训No</th>
                    <th>培训名称</th>
                    <th>实施日</th>
                    <th>授课者</th>
                    <th>培训状态</th>
                    <th>计划人数</th>
                    <th>确定人数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="train : ${trainInfoList}">
                    <td th:text="${train.trainType}"></td>
                    <td th:text="${train.trainTypeName}"></td>
                    <td th:text="${train.startDate}"></td>
                    <td th:text="${train.period}"></td>
                    <td th:text="${train.status}"></td>
                    <td th:text="${train.joinNum}"></td>
                    <td th:text="${train.joinNumtrue}"></td>
                    <td><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">操作</button></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">操作</h4>
        </div>
        <div class="modal-body">

                <button class="btn btn-default modalBtn active" id="lessonContent" value="1">课程内容</button>
                <button class="btn btn-success modalBtn" value="2">培训发布</button>
                <button class="btn btn-info modalBtn" value="3">培训确定</button>
                <button class="btn btn-warning modalBtn" id="trainList" value="4">培训名单</button>
                <button class="btn btn-primary modalBtn" value="5">培训完了</button>


        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal" id="quxiao">取消</button>-->
            <!--<button type="button" class="btn btn-primary" id="confirm">确定</button>-->
        </div>
    </div>
</div>
</div>


<!--</div>-->

<!--div2-->
<div id="div2" style="display: none">
    <h3>培训管理/培训明细</h3>
    <button id="denglu" class="btn btn-success">登録</button>
    <button id="shanchu" class="btn btn-danger">删除</button>
    <button id="fanhui" class="btn btn-warning">返回</button>
    <div>
        <label style="display:inline;">课程名称：</label>
        <input type="text" class="form-control" id="lessonName" style="display:inline;width:200px;" autocomplete="off"/></br>
        <label style="display:inline;">授课者部门：</label>
        <input type="text" class="form-control" id="directorDep" style="display:inline;width:200px;" autocomplete="off"/></br>
        <label style="display:inline;">授课者姓名：</label>
        <input type="text" class="form-control" id="directorName" style="display:inline;width:200px;" autocomplete="off"/></br>
        <label style="display:inline;">授课时段：</label>
        <input type="text" class="form-control" id="lessonDate" style="display:inline;width:200px;" autocomplete="off"/></br>
        <label  style="display:inline;">授课类型：</label>
        <select class="selectpicker2" data-live-search="true" name="addid" id="addid2" style="width: 100px"></select>

    </div>
</div>
<!--div3-->
<div id="div3" style="display: none">
    <h3>培训管理/培训人员明细</h3>
    <button class="btn btn-warning">返回</button>
    <div>

        <button class="btn btn-danger">删除</button>
        <button class="btn btn-info">追加</button>
    </div>
    <table class="table table-hover table-bordered" id="empTable">
        <tr>
            <th><button class="selectAll">全选</button></th>
            <th>姓名</th>
            <th>部门</th>
            <th>职务</th>
        </tr>
        <tr th:each="data:${empAndDep}">
            <td><input type="checkbox"></td>
            <td th:text="${data.emp.empId}"></td>
            <td th:text="${data.dep.depName}"></td>
            <td th:text="${data.emp.role}"></td>
        </tr>

    </table>

</div>

<div id="div4" style="display: none">div4</div>
<!--div5-->
<div id="div5" style="display: none">div5</div>
<!--div6-->
<div id="div6" style="display: none">div6</div>

</body>
<script>

    //刷新名单，但是无法跳转，有Bug
    // $("#trainList").click(function () {
    //     window.location.href="/empNum";
    // });

        $("#trainList").click(function () {
            $("#quxiao").click(function () {
                showDiv3();
                $.ajax({

                })
            });
            showDiv3();
        })
    // $(".modalBtn").click(function() {
    //     $(".modalBtn").removeClass("active");
    //     $(this).addClass("active");
    // });


    // $("#confirm").click(function(){
    //     $(".modalBtn").each(function(){
    //          if ($(this).hasClass("active")){
    //
    //             switch ($(this).val()) {
    //                 case 1:
    //                     alert("aa")
    //                     showDiv4();
    //                     break;
    //                 case 2:
    //                     alert("bb")
    //                     $("#quxiao").click();
    //                     break;
    //                 case 3:
    //
    //                     break;
    //                 case 4:
    //                     showDiv3();
    //                     break;
    //                 case 5:
    //
    //                     break;
    //             }
    //          }
    //     });
    // });


    //点击课程内容按钮跳转页面
    // $("#lessonContent").click(function () {
    //     showDiv4()
    // });
    //授课类型的动态下拉框
    $.ajax({
        "url": "/xx",
        "success": function (data) {
            var opts = "";
            for (var i=0;i<data.length;i++){

                var values = data[i].trainType;
                var text = data[i].trainTypeName;
                $("#addid").append("<option value='"+values+"'>"+text+"</option>")
            }
            // $("#addid").append(opts);
            // $("#addid").selectpicker("refresh");

        }
    });
    //第二个页面的动态下拉框
    $.ajax({
        "url": "/xx2",
        "success": function (data) {
            var opts = "";
            for (var i=0;i<data.length;i++){

                var values = data[i].trainType;
                var text = data[i].trainTypeName;
                $("#addid2").append("<option value='"+values+"'>"+text+"</option>")

            }
            // $("#addid").append(opts);
            // $("#addid").selectpicker("refresh");

        }
    });


    // 培训检索
    $("#search").click(function () {
        var statusOption = $(".combobox option:selected").val();
        var trainData = $("#trainDate").val();
        var lessonOption = $(".selectpicker option:selected").text();
        // var lessonOptionVal = $(".selectpicker option:selected").val();

        window.location.href="/searchByConditions?"+"statusOption="+statusOption+"&"+"trainData="+trainData+"&"+"lessonOption="+lessonOption
        // $.ajax({
        //     url: "/searchByConditions",
        //     data:{
        //         statusOption : statusOption,
        //           trainData : trainData,
        //         lessonOption : lessonOption
        //     },
        //     success: function (data) {
        //         console.log(data)
        //         // $(".trainInfo").html(data)
        //
        //     }
        // })
    })

    // 增加培训课程
    $("#add").click(function () {
        showDiv2();
        //先动态获取下拉框

    });

    //添加一个课程
    $("#denglu").click(function () {
        var lessonName = $("#lessonName").val();
        var directorDep = $("#directorDep").val();
        var directorName = $("#directorName").val();
        var lessonDate = $("#lessonDate").val();
        var selectValue = $(".selectpicker2 option:selected").text();
        alert(lessonName+directorDep+directorName+lessonDate+selectValue);
        //缺少非空判断
        $.ajax({
            url:"/addLesson",
            data:{
               subjects:lessonName,
               departmentName:directorDep,
               empname:directorName,
               period:lessonDate,
               trainTypeName:selectValue
            },
            success:function (data) {
                if (data.code==200){
                    alert("成功")
                }else{
                    alert("失败")
                }
            }
        })
    });

    //清空添加课程时的输入框
    $("#shanchu").click(function () {
        $("#lessonName").val("");
        $("#directorDep").val("");
        $("#directorName").val("");
        $("#lessonDate").val("");
    });

    //从新增课程页面返回
    $("#fanhui").click(function () {
        showDiv1();
    });


    $(".selectAll").click(function() {
        //3.1获取到所有的CheckBox
        var checks = $(":checkBox");
        checks.prop("checked", true);
    })

    function showDiv1() {
        document.getElementById("div1").style.display="block";
        document.getElementById("div2").style.display="none";
        document.getElementById("div3").style.display="none";
        document.getElementById("div4").style.display="none";
        document.getElementById("div5").style.display="none";
        document.getElementById("div6").style.display="none";


    }


    //使用bootstrap动态加载表格
    // $('.table').bootstrapTable({
    //     url: '/trainOptions',
    //     pagination: true,
    //     columns: [{
    //         field: 'trainType',
    //         title: '培训No.'
    //     }, {
    //         field: 'trainTypeName',
    //         title: '培训名称'
    //     }, {
    //         field: 'startDate',
    //         title: '实施日'
    //     }, {
    //     field: 'director',
    //         title: '授课者'
    //     }, {
    //         field: 'status',
    //         title: '培训状态'
    //     }, {
    //         field: 'joinNum',
    //         title: '计划人数'
    //     }, {
    //         field: 'joinNumtrue',
    //         title: '确认人数'
    //     }
    //     ,{
    //         formatter:function (value,row) {
    //             return `<button onclick='del(${row.id})' class='btn btn-danger'>操作</button>`;
    //             // return "$"+row.price;
    //         }
    //     }
    //
    //     ]
    // })

    function showDiv2() {
        document.getElementById("div2").style.display="block";
        document.getElementById("div1").style.display="none";
        document.getElementById("div3").style.display="none";
        document.getElementById("div4").style.display="none";
        document.getElementById("div5").style.display="none";
        document.getElementById("div6").style.display="none";

    }
    function showDiv3() {
        document.getElementById("div3").style.display="block";
        document.getElementById("div1").style.display="none";
        document.getElementById("div2").style.display="none";
        document.getElementById("div4").style.display="none";
        document.getElementById("div5").style.display="none";
        document.getElementById("div6").style.display="none";


    }
    function showDiv4() {
        document.getElementById("div4").style.display="block";
        document.getElementById("div1").style.display="none";
        document.getElementById("div2").style.display="none";
        document.getElementById("div3").style.display="none";
        document.getElementById("div5").style.display="none";
        document.getElementById("div6").style.display="none";

    }
    function showDiv5() {
        document.getElementById("div5").style.display="block";
        document.getElementById("div2").style.display="none";
        document.getElementById("div2").style.display="none";
        document.getElementById("div3").style.display="none";
        document.getElementById("div4").style.display="none";
        document.getElementById("div6").style.display="none";

    }
    function showDiv6() {
        document.getElementById("div6").style.display="block";
        document.getElementById("div1").style.display="none";
        document.getElementById("div2").style.display="none";
        document.getElementById("div3").style.display="none";
        document.getElementById("div4").style.display="none";
        document.getElementById("div5").style.display="none";


    }


</script>
</html>